# JWT
JWT_SECRET=your-super-secret-key-min-32-chars-change-in-production
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/autix_chat?schema=public"

# gRPC - user-system
USER_GRPC_URL=localhost:50051

# Cloudflare R2
DOMAIN=""
Account_ID=""
S3_API=""
Access_key_ID=""
Secret_Access_Key=""
Cloudflare_Token=""
R2_BUCKET_NAME=""